body {
    background-color: #EEEEEE;
}

header,
nav,
main {
    padding: 1em 0;
}

header {
	 width: 1525px;
	 height: 70px;
	 position:absolute;
	 background: #eaafc8;
	background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
	background: linear-gradient(to right, #eaafc8, #654ea3);
	 position: relative;
	 top: 0;
	 overflow: hidden;
}



nav {
	position: relative;
    height: 40px;
    line-height: 60px;
    width: 1525px;
    background: #eaafc8;
	background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
	background: linear-gradient(to right, #eaafc8, #654ea3);
	text-align:center;
}

nav a {
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
    line-height: 1;
    text-decoration: none;
	@include border-radius(2px);
	&:hover{
			 @include box-shadow(0 0 0 1px #fff);
}

#divCentral {
	justify-content: space-between;
	align-items: stretch;
    margin: auto;
	box-sizing: border-box;
	height: 100%;
	padding: 5px 1em 0 2em;
}

main {
	flex : 10;
    background-color: #EEEEEE;
    padding-left: 6em;
    text-align:center;
    padding: 5px 1em 0 2em;
}

footer {
	position: absolute;
    height: 80px;
    line-height: 60px;
    width: 1525px;
    background: #eaafc8;
	background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
	background: linear-gradient(to right, #eaafc8, #654ea3);
	text-align:center;
}

#paragDescription {
	background-color: red;
	font-style: italic;
	text-align: justify;
	border-left-color: #A22304;
	border-radius: 1em;	
}

.Accueil {
	text-align:center;
}
